<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>Welcome,{{user.first_name}}!</h1>

    <a href="/my_parties">My Parties</a>
    <a href="/logout">Logout</a>
    </div>
  <h2>All the cool Parties we know About</h2>
   <table>
    <thead>
        <th>What</th>
        <th>Location</th>
        <th>Date</th>
        <th>All Ages</th>
        <th>Posted By</th>
        <th>Actions</th>
    </thead>

   </table>
   <a  href="/parties/new"><button value="Plan a Party">Plan a Party</button></a>
</body>
</html>